// display propertys

%block {
  display: block;
}

%flex {
  display: flex;
}

%inlin-block {
  display: inline-block;
}

%width-100 {
  width: 100%;
}

%text-line-height {
  line-height: 1.3;
}


%justify-content-center {
  justify-content: center;
}

%align-items-center {
  align-items: center;
}

%br-radius {
  border-radius: $border-radius;
}