$utilities: () !default;
$anim: () !default;
$colors: () !default;

$font: (
  xxs: $font-xxs,
  xs: $font-xs,
  sm: $font-sm,
  md: $font-md,
  lg: $font-lg,
  xl: $font-xl,
  xxl: $font-xxl,
  xxxl: $font-xxxl,
) !default;

$alignments: (
  "start":   flex-start,
  "end":     flex-end,
  "center":  center,
  "between": space-between,
  "around":  space-around,
  "evenly":  space-evenly,
  "stretch": stretch,
) !default;

$spacing: (
  "auto": auto,
  0: 0,
  1: Rem(2px),
  2: Rem(5px),
  3: Rem(8px),
  4: Rem(12px),
  5: Rem(16px),
  6: Rem(20px),
  7: Rem(24px),
  8: Rem(28px),
  9: Rem(34px),
  10: Rem(40px),
  11: Rem(45px),
  12: Rem(56px),
) !default;

$sizes: (
    "full": 100%,
    "auto": auto,
    1: Rem(10px),
    2: Rem(30px),
    3: Rem(50px),
    4: Rem(80px),
    5: Rem(130px),
    6: Rem(180px),
    7: Rem(240px),
    8: Rem(270px),
    9: Rem(350px),
    10: Rem(420px)
) !default;