// fruit conifg
$separator: \: !default;

$tran-break: cubic-bezier(0.43, 1.07, 0.16, 1.01) !default;
$tran-wavy: cubic-bezier(1, 0.235, 0, 1.65) !default;
$tran-in: cubic-bezier(1, 0.89, 0, 1) !default;


// preformace vars
$uitl-handler: false !default; // ++
$compress: false !default; // +++

$daynmic-font: false !default;

$xs: "xs" !default;
$more-utils: false !default;
$important: ture !default;
$animPlugin: false !default;
$left: "left" !default;
$right: "right" !default;
$pct-row: false !default;
$useTheme: ture !default;

// reponsive settings
$media-height: false !default;
$media-width: false !default;
$media-flex-dir: false !default;
$media-font: false !default;
$media-margin: false !default;
$media-padding: false !default;
$media-display: false !default;
$media-alignments: false !default;
$media: false !default;

$typography-util: false !default;
$spacing-util: false !default;
$size-util: false !default;
$align-util: false !default;
$other-util: false !default;

// spacing
$size: 0.75rem !default;
$margin: 0.75rem !default;
$padding: 0.75rem !default;
// borders
$border-thickness: 1px !default;
$border-radius: 10px !default;
// box-shadow
$base-box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1) !default;
// $preset-one-box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2) !default;

$font-xxs: 0.75rem !default;
$font-xs: 1rem !default;
$font-sm: 1.25rem !default;
$font-md: 1.5rem !default;
$font-lg: 2rem !default;
$font-xl: 2.5rem !default;
$font-xxl: 3rem !default;
$font-xxxl: 3.5rem !default;
