@mixin table {
  table.table {
    background-color: $gray-50;
    border: 1px solid $gray-200;
    border-radius: $border-radius;
    border-spacing: 0px;
    width: 100%;
    & thead th {
      text-align: left;
      font-weight: 700;
    }
    & td,
    th {
      padding: $padding;
      text-align: left;
    }
    tbody tr:nth-child(odd) {
      background-color: $gray-100;
    }
  }
}