$utilities: map-merge(
  (
    "width": (
      class: "w",
      property: width,
      range: (0:10),
      important: $important,
      values: (
        "full": 100%,
        "auto": auto,
        "screen": 100vh,
        1: Rem(10px),
        2: Rem(30px),
        3: Rem(50px),
        4: Rem(80px),
        5: Rem(130px),
        6: Rem(180px),
        7: Rem(240px),
        8: Rem(270px),
        9: Rem(350px),
        10: Rem(420px)
      ),
    ),
    "height": (
      class: "h",
      property: height,
      range: (0:10),
      important: $important,
      values: (
        "full": 100%,
        "auto": auto,
        "screen": 100vh,
        1: Rem(10px),
        2: Rem(30px),
        3: Rem(50px),
        4: Rem(80px),
        5: Rem(130px),
        6: Rem(180px),
        7: Rem(240px),
        8: Rem(270px),
        9: Rem(350px),
        10: Rem(420px)
      
      ),
    ),
  ),
  $utilities
);
