$utilities: map-merge(
  (
    "font": (
      property: font-size,
      media: $media-font,
      dark: $useTheme,
      inherit: "%text-line-height",
      important: $important,
      values: (
        "h1": 5.5rem,
        "h2": 4.5rem,
        "h3": 3.5rem,
        "h4": 2.5rem,
        "h5": 1.5rem,
        "h6": 1rem,
      ),
    ),
    "font-size": (
      class: "font",
      property: font-size,
      inherit: "%text-line-height",
      media: $media-font,
      important: $important,
      values: $font,
    ),
  ),
  $utilities
);
