@if $align-util {
  $utilities: map-merge(
    (
      "float": (
        class: "float",
        property: float,
        important: $important,
        values: (
          "left": $left,
          "right": $right,
          "none": none,
        ),
      ),
      order: (
        class: "order",
        media: $media,
        important: $important,
        property: order,
        range: (
          0: 12,
        ),
        values: (
          "first": -1,
          "last": 9000,
          1: 1,
          2: 2,
          3: 3,
          4: 4,
          5: 5,
          6: 6,
          7: 7,
          8: 8,
          9: 9,
          10: 10,
          11: 11,
          12: 12,
        ),
      ),
      "align-items": (
        class: "items",
        property: align-items,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "align-content": (
        class: "content",
        property: align-content,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "align-self": (
        class: "self",
        property: align-self,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "justify-items": (
        class: "justify-items",
        property: justify-items,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "justify-content": (
        class: "justify",
        property: justify-content,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "justify-self": (
        class: "justify-self",
        property: justify-self,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "place-items": (
        class: "place-items",
        property: place-items,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "place-content": (
        class: "place-content",
        property: place-content,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "place-self": (
        class: "place-self",
        property: place-self,
        media: $media-alignments,
        important: $important,
        values: $alignments,
      ),
      "text-align": (
        class: "text",
        property: text-align,
        media: $media-alignments,
        important: $important,
        values: (
          "left": left,
          "center": center,
          "right": right,
          "justify": justify,
        ),
      ),
      "position": (
        property: position,
        important: $important,
        values: (
          "relative": relative,
          "absolute": absolute,
          "fixed": fixed,
        ),
      ),
    ),
    $utilities
  );
}
