$utilities: map-merge(
  (
    "opacity": (
      class: "o",
      property: opacity,
      range: (10:100),
      important: $important,
      values: (
        10: 0.1,
        20: 0.2,
        30: 0.3,
        40: 0.4,
        50: 0.5,
        60: 0.6,
        70: 0.7,
        80: 0.8,
        90: 0.9,
        100: 1,
      ),
    ),
    "border-radius": (
      class: "br",
      property: border-radius,
      important: $important,
      values: (
        "none": 0,
        "xs": math.div($border-radius, 4),
        "sm": math.div($border-radius, 2),
        "md": $border-radius,
        "lg": $border-radius * 2,
        "full": 50%,
      ),
    ),
    "display": (
      property: display,
      media: $media-display,
      important: $important,
      values: (
        "none": none,
        "block": block,
        "inline": inline,
        "inline-block": inline-block,
        "inline-flex": inline-flex,
        "inline-grid": inline-grid,
      ),
    ),
    "overflow": (
      class: "overflow",
      property: overflow,
      important: $important,
      values: (
        "visible": visible,
        "hidden": hidden,
        "scroll": scroll,
      ),
    ),
  ),
  $utilities
);
