@mixin forms() {
  .form-group {
    padding: $padding;
    .form,
    .form-control,
    .input {
      width: 100%;
      margin: $margin 0;
      padding: $padding;
      outline: none;
      border-radius: $border-radius;
      transition: all .3s $tran-break;
      border: solid $border-thickness $gray-300;
      &::placeholder {
        font-size: $font-xs;
      }
      &:focus {
        border-color: $primary;
        transform: scale(0.99);
      }
    }
    .form-part,
    .form-section {
      padding: $padding * 0.2;
      align-items: center; 
      .link {
        color: $blue-500;
        &:hover {
          text-decoration: underline;
          color: $blue-400;
        }
      }
      .label {
        cursor: pointer;
        line-height: 2;
      }
    }
  }
}
