@use "basket" as * with (
  $media-flex-dir: true,
  $media-font: true,
  $media-margin: true,
  $media-padding: true,
  $media-display: true,
  $media-alignments: true,
  $animPlugin: true,

  $flex: true,
  $grid: true,
  $pct: true,
);

@include useShades(900,50);

@include renderFrame("slideRight");
