@use "./util" as * with (
  $media-flex-dir: true,
  $media-font: true,
  $media-margin: true,
  $media-padding: true,
  $media-display: true,
  $media-alignments: true,
  $typography-util: true,
  $spacing-util: true,
  $size-util: true,
  $align-util: true,
  $other-util: true,
);

@include useShades(900,50);